@model IEnumerable<Proyecto>

@if (Model is not null)
    {
        <div class="text-center" style="padding-top: 6rem;">
            <h1>My recent proyects</h1>
            <p>You can take a look for some projects here.</p>
        </div>

        <partial name="_ProjectList"model="Model"/>
    }
