@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Projects";
}

<div class="container">
    <h1>My projects</h1>
    <p>You'll find all the projects I've worked at here.</p>

    
</div>

<partial name="_ProjectList"model="Model"/>
