@{
    ViewData["Title"] = "Thank you";
}

<h1>Thank you to get in touch with me!</h1>

<p>I will reply the message ASAP.</p>
<div>
    <a asp-action="Index" asp-controller="Home">Back  to home!</a>
</div>
